@import "../../styles/variables";

.login-page {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    background: $color-grey-3;

    .form-login {
        max-width: 32rem;
        width: 100%;
        padding: 1.5rem;
        background: $color-white;
        border-radius: 4px;
        box-shadow: 0 1rem 2rem rgba($color-black, 0.1);

        .logo {
            text-align: center;
        }

        h3 {
            font-size: 2rem;
            color: $color-error;
            text-align: center;
            font-weight: $bold;
            margin-bottom: 2rem;
        }

        .form {
            label {
                display: block;
                width: 100%;
                margin-bottom: 2rem;

                span {
                    font-size: 1.4rem;
                }

                input {
                    width: 100%;
                }
            }
        }
    }
}