@import "../../styles/variables";

.event-page {
	width: 100%;
	height: 100%;
	margin: auto;
	background: -webkit-linear-gradient(top, #fff, $color-blue);
	background: -moz-linear-gradient(top, #fff, $color-blue);
	background: -o-linear-gradient(top,  #fff, $color-blue); 
	background: linear-gradient(to bottom,  #fff, $color-blue);

	&__select{
		font-family: inherit;
		color: inherit;
		font-size: 1.5rem;
		padding: 0.5rem 1rem;
		border-radius: 2px;
		background-color: rgba(255, 255, 255, 0.5);
		border: none;
		border: 2px solid #eee;
		width: 100%;
		display: block;
		transition: all 0.3s;
		margin-bottom: 1rem;

		&:focus {
			outline: none;
			box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
			border: 2px solid #5acec2;
		}
	}

	.events-list{
		margin-top: 3%;
	}

	&__content {
		max-width: 1000px;
		min-height: 100vh;
		position: relative;
		margin: auto;
		padding: 2rem;
		border-left: 1px solid $color-mint;
		border-right: 1px solid $color-mint;
		background-color: #eee;
		padding-bottom: 3%;
    }

    &__container{
		display: flex;
		flex-direction:column;
		width: 50%;
		
		@media (min-width: $small){
			.event-item {
			width: 100%;
			}
		}
    }
    
    &__title{
		color: $color-blue;
		font-size: 3rem;
		letter-spacing: 0.2;
		font-weight: 600;
		margin-bottom: 3%;
	}

	&__buttons-conteiner{
		display: flex;
		flex-direction: row;
		justify-content: center;
		margin-bottom: 10px;

		&__button{
			width: 45%;
			background-color: $color-mint;
			padding: 0.5rem;
			border: none;
			border-radius: 3px;
			color: $color-white;
			font-weight: 600;
			font-size: 1.2rem;
			transition: 0.2s;
			margin-bottom: 20px;

			&:first-child{
				margin-right: 10px;
			}

			&:hover{
				background-color: $color-blue;
				color: $color-white;
			
				outline: none;
				transform: translateY(-1px);
				box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
				&:after {
					transform: scaleX(1.4) scaleY(1.6);
					opacity: 0;
				}
			}
		}
	}
}

@media (max-width: $small){
	.event-page {
	
		&__content {
			padding: 2rem 0;
		}
	
		&__container{
			width: 100%;
		}
		
		&__title{
			padding-left: 2rem;
			font-size: 2rem;
			letter-spacing: 0;
		}
	}
}