@import "../../styles/variables";

.event-card {
    &-cap {
        position: relative;
        overflow: hidden;
    }

    &-img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -2;

        img {
            position: absolute;
            top: 50%;
            left: 50%;
            bottom: 0;
            right: 0;
            transform: translate(-50%,-50%);
            width: 100%;

            @media (max-width: $xsmall) {
                width: auto;
            }
        }
    }

    &-title {
        position: relative;
        padding: 15rem 0 12rem;
        color: $color-white;

        .bg-black {
            z-index: -1;
        }

        h2 {
            font-size: 3rem;
            font-weight: $bold;
        }

        .country {
            font-size: 2rem;
            font-weight: $light;
        }

        .event-type {
            font-size: 2rem;
            margin-bottom: 1rem;
        }

        .date {
            text-align: right;

            p {
                display: inline-block;
                font-weight: $bold;
                font-size: 2rem;
                padding: 0 1rem;
                background: rgba($color-white, 0.7);
                color: $color-black;
            }

            span {
                &:first-child {
                    font-weight: $normal;
                }

                &:last-child {
                    font-size: 1.4rem;
                    font-weight: $normal;
                }
            }
        }
    }

    &-info {
        display: flex;
        padding: 5rem 0;
        margin: 0 -1rem;

        .info-content {
            width: 50%;
            padding: 0 1rem;
            
            .overview {
                margin: 3rem 0;
                padding: 2rem 0;
                border-bottom: 1px solid $color-grey-light;
                border-top: 1px solid $color-grey-light;

                p {
                    font-weight: $normal;
                    font-size: 1.6rem;
                    margin-top: 2rem;
                }

                img {
                    width: 100%;
                }

                .event-video {
                    video {
                        width: 100%;
                        height: auto;
                    }
                }
            }

            p {
                font-size: 1.4rem;
                margin-bottom: 1.5rem;
                font-weight: $bold;
                text-align: justify;

                span {
                    font-weight: $normal;
                    font-size: 1.6rem;
                }
            }

            h3 {
                font-size: 2.4rem;
                font-weight: $bold;
            }

            .map-wrap {
                img {
                    width: 100%;
                }
            }
        }

        .reg-form {
            width: 50%;
            padding: 0 1rem;

            .reg-form-event {
                .form {
                    max-width: 25rem;
                    margin: 5rem auto 0;
                    border: 1px solid $color-mint;
                    padding: 1.5rem;
                    border-radius: 4px;
                }

                .form-block__select,
                .input-box,
                .reg-radio {
                    width: 100%;
                    margin-bottom: 2rem;
                }
            }
        }
    }

    @media (max-width: $medium) {
        &-title {
            padding: 10rem 0 8rem;
        }
    }

    @media (max-width: $small) {
        &-title {
            padding-bottom: 4rem;
        }

        &-info {
            flex-direction: column;
        }

        .info-content{
            margin-bottom: 5rem;
        }

        .info-content,
        .reg-form {
            width: 100%;
        }
    }
}

.price {
    margin: 3rem 0;
    max-width: 25rem;
    background: $color-grey-light;
    margin: 0 auto;
    text-align: center;
    padding: 1.5rem;
    border-radius: 4px;

    h3 {
        font-size: 2.4rem;
        font-weight: $bold;
        margin-bottom: 2rem;
    }

    .cost {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h6 {
            font-weight: 400;
            font-size: 1.6rem;
        }

        span {
            color: $color-blue;
            font-size: 2.4rem;
            font-weight: $bold;
        }
    }
}